node1-validator/led_frontend/.env
node1-validator/led_frontend/node_modules
node1-validator/led_frontend/.next
node1-validator/led_smartcontract/node_modules
node1-validator/led_smartcontract/artifacts
node1-validator/led_smartcontract/cache
node2/led_frontend/.env
node2/led_frontend/node_modules
node2/led_frontend/.next
node2/led_smartcontract/node_modules
node2/led_smartcontract/artifacts
node2/led_smartcontract/cache